body
{
    color: black
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    margin: 0;
    padding: 0
}
#cabecera
{
    background: rgb(82, 17, 156);
    box-shadow: 4px 7px 5px 0px rgba(0, 0, 0, 0.75);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
    margin-bottom: 5px;
}
#cabecera #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;

}
#container
{   
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;   
}
#container h1
{
    font-size: 40px;
}

#post
{
    background-color: rgb(243, 240, 236);
    font-family: Arial,sans-serif;
    font-size: 16px;
    line-height: 200%;

}